In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('Advertising_data.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [3]:
dataset.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [4]:
dataset.head(20)

     User ID  Gender   Age  EstimatedSalary  Purchased
0   15624510    Male  19.0          19000.0          0
1   15810944    Male  35.0          20000.0          0
2   15668575  Female  26.0          43000.0          0
3   15603246  Female  27.0          57000.0          0
4   15804002    Male  19.0          76000.0          0
5   15728773    Male  27.0          58000.0          0
6   15598044  Female  27.0          84000.0          0
7   15694829  Female  32.0         150000.0          1
8   15600575    Male  25.0          33000.0          0
9   15727311  Female  35.0          65000.0          0
10  15570769  Female  26.0          80000.0          0
11  15606274  Female  26.0          52000.0          0
12  15746139    Male  20.0          86000.0          0
13  15704987    Male  32.0          18000.0          0
14  15628972    Male  18.0          82000.0          0
15  15697686    Male  29.0          80000.0          0
16  15733883    Male  47.0          25000.0          1
17  15617482    Male  45.0          26000.0          1
18  15704583    Male  46.0          28000.0          1
19  15621083  Female  48.0          29000.0          1

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 5)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [12]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [16]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)

In [17]:
accuracy

0.85

In [18]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)

In [20]:
accuracy = grid_search.best_score_

In [21]:
accuracy

0.9100000000000001

In [22]:
grid_search.best_params_

{'C': 10, 'gamma': 0.3, 'kernel': 'rbf'}

In [23]:
classifier = SVC(kernel = 'rbf', gamma=0.7)
classifier.fit(X_train, y_train)

SVC(gamma=0.7)

In [24]:
y_pred = classifier.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [26]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)

In [27]:
accuracy

0.93